---
- name: Include Linux tasks
  include_tasks: linux.yml
  when: ansible_os_family == "Debian" or ansible_os_family == "RedHat"

- name: Include Windows tasks
  include_tasks: windows.yml
  when: ansible_os_family == "Windows"
