---
- name: Generate client keys via Wazuh API
  include_tasks: api_enrollment.yml
  when: wazuh_api_password is defined

- name: Install Wazuh Agent on Linux
  include_tasks: linux_install.yml
  when: ansible_system == 'Linux'

- name: Install Wazuh Agent on Windows
  include_tasks: windows_install.yml
  when: ansible_os_family == 'Windows'

