{
  "vms": [
    {
      "name": "PF-01-RTR",
      "vmid": 200,
      "target_node": "proxmox",
      "clone": "pfsense-template",
      "full_clone": true,
      "onboot": true,
      "tags": [
        "Lab"
      ],
      "cpu": {
        "cores": 1,
        "sockets": 1,
        "type": "host"
      },
      "memory": 1024,
      "balloon": 512,
      "scsihw": "virtio-scsi-single",
      "bootdisk": "scsi0",
      "disks": [
        {
          "slot": "scsi0",
          "size": "32G",
          "type": "disk",
          "storage": "Internal",
          "iothread": true,
          "discard": true,
          "cache": "writeback"
        }
      ],
      "networks": [
        {
          "id": 0,
          "model": "virtio",
          "bridge": "vmbr0",
          "firewall": true
        },
        {
          "id": 1,
          "model": "virtio",
          "bridge": "vmbr1",
          "firewall": true
        }
      ],
      "agent": 1
    },
    {
      "name": "DC-01-SRV",
      "vmid": 201,
      "target_node": "proxmox",
      "clone": "win-dc-2022-template",
      "full_clone": true,
      "onboot": true,
      "tags": [
        "Lab"
      ],
      "cpu": {
        "cores": 2,
        "sockets": 1,
        "type": "host"
      },
      "bios": "ovmf",
      "machine": "q35",
      "efi_storage": "Internal",
      "memory": 2048,
      "balloon": 1024,
      "serial": {
        "id": 0,
        "type": "socket"
      },
      "scsihw": "virtio-scsi-single",
      "bootdisk": "scsi0",
      "disks": [
        {
          "slot": "scsi0",
          "size": "64G",
          "type": "disk",
          "storage": "Internal",
          "iothread": true,
          "discard": true,
          "cache": "writeback"
        },
        {
          "slot": "ide1",
          "type": "cloudinit",
          "storage": "local"
        }
      ],
      "networks": [
        {
          "id": 0,
          "model": "virtio",
          "bridge": "vmbr1",
          "firewall": true
        }
      ],
      "cloudinit": {
        "enabled": true,
        "ipconfig": [
          {
            "interface": "net0",
            "ip": "172.16.10.100/24",
            "gateway": "172.16.10.1"
          }
        ]
      },
      "agent": 1,
      "depends_on": [
        "PF-01-RTR"
      ]
    },
    {
      "name": "SIEM-01-SRV",
      "vmid": 202,
      "target_node": "proxmox",
      "clone": "ubuntu-server-template",
      "full_clone": true,
      "onboot": true,
      "tags": [
        "Lab"
      ],
      "cpu": {
        "cores": 4,
        "sockets": 1,
        "type": "host"
      },
      "memory": 8192,
      "balloon": 4096,
      "serial": {
        "id": 0,
        "type": "socket"
      },
      "scsihw": "virtio-scsi-pci",
      "bootdisk": "scsi0",
      "disks": [
        {
          "slot": "scsi0",
          "size": "150G",
          "type": "disk",
          "storage": "Internal",
          "discard": true,
          "cache": "writeback"
        },
        {
          "slot": "ide2",
          "type": "cloudinit",
          "storage": "local"
        }
      ],
      "networks": [
        {
          "id": 0,
          "model": "virtio",
          "bridge": "vmbr1",
          "firewall": true
        }
      ],
      "cloudinit": {
        "enabled": true,
        "nameserver": "172.16.10.100",
        "searchdomain": "yourdomain.com",
        "sshkeys": "ssh-rsa AAAAB...Glj5kQ== username@management-hostname",
        "ipconfig": [
          {
            "interface": "net0",
            "ip": "172.16.10.210/24",
            "gateway": "172.16.10.1"
          }
        ]
      },
      "agent": 1,
      "depends_on": [
        "PF-01-RTR",
        "DC-01-SRV"
      ]
    },
    {
      "name": "FLEET-01-SRV",
      "vmid": 203,
      "target_node": "proxmox",
      "clone": "ubuntu-server-template",
      "full_clone": true,
      "onboot": true,
      "tags": [
        "Lab"
      ],
      "cpu": {
        "cores": 2,
        "sockets": 1,
        "type": "host"
      },
      "memory": 4096,
      "balloon": 2048,
      "serial": {
        "id": 0,
        "type": "socket"
      },
      "scsihw": "virtio-scsi-pci",
      "bootdisk": "scsi0",
      "disks": [
        {
          "slot": "scsi0",
          "size": "64G",
          "type": "disk",
          "storage": "Internal",
          "discard": true,
          "cache": "writeback"
        },
        {
          "slot": "ide2",
          "type": "cloudinit",
          "storage": "local"
        }
      ],
      "networks": [
        {
          "id": 0,
          "model": "virtio",
          "bridge": "vmbr1",
          "firewall": true
        }
      ],
      "cloudinit": {
        "enabled": true,
        "nameserver": "172.16.10.100",
        "searchdomain": "yourdomain.com",
        "sshkeys": "ssh-rsa AAAAB...Glj5kQ== username@management-hostname",
        "ipconfig": [
          {
            "interface": "net0",
            "ip": "172.16.10.220/24",
            "gateway": "172.16.10.1"
          }
        ]
      },
      "agent": 1,
      "depends_on": [
        "PF-01-RTR",
        "DC-01-SRV"
      ]
    },
    {
      "name": "XDR-01-SRV",
      "vmid": 204,
      "target_node": "proxmox",
      "clone": "ubuntu-server-template",
      "full_clone": true,
      "onboot": true,
      "tags": [
        "Lab"
      ],
      "cpu": {
        "cores": 2,
        "sockets": 1,
        "type": "host"
      },
      "memory": 8192,
      "balloon": 4096,
      "serial": {
        "id": 0,
        "type": "socket"
      },
      "scsihw": "virtio-scsi-pci",
      "bootdisk": "scsi0",
      "disks": [
        {
          "slot": "scsi0",
          "size": "64G",
          "type": "disk",
          "storage": "Internal",
          "discard": true,
          "cache": "writeback"
        },
        {
          "slot": "ide2",
          "type": "cloudinit",
          "storage": "local"
        }
      ],
      "networks": [
        {
          "id": 0,
          "model": "virtio",
          "bridge": "vmbr1",
          "firewall": true
        }
      ],
      "cloudinit": {
        "enabled": true,
        "nameserver": "172.16.10.100",
        "searchdomain": "yourdomain.com",
        "sshkeys": "ssh-rsa AAAAB...Glj5kQ== username@management-hostname",
        "ipconfig": [
          {
            "interface": "net0",
            "ip": "172.16.10.230/24",
            "gateway": "172.16.10.1"
          }
        ]
      },
      "agent": 1,
      "depends_on": [
        "PF-01-RTR",
        "DC-01-SRV"
      ]
    },
    {
      "name": "LIN-01-WS",
      "vmid": 205,
      "target_node": "proxmox",
      "clone": "ubuntu-desktop-template",
      "full_clone": true,
      "tags": [
        "Lab"
      ],
      "cpu": {
        "cores": 2,
        "sockets": 1,
        "type": "host"
      },
      "memory": 4096,
      "balloon": 2048,
      "scsihw": "virtio-scsi-single",
      "bootdisk": "scsi0",
      "disks": [
        {
          "slot": "scsi0",
          "size": "64G",
          "type": "disk",
          "storage": "Internal",
          "iothread": true,
          "discard": true,
          "cache": "writeback"
        },
        {
          "slot": "ide0",
          "type": "cloudinit",
          "storage": "local"
        }
      ],
      "networks": [
        {
          "id": 0,
          "model": "virtio",
          "bridge": "vmbr1",
          "firewall": true
        }
      ],
      "cloudinit": {
        "enabled": true,
        "nameserver": "172.16.10.100",
        "searchdomain": "yourdomain.com",
        "sshkeys": "ssh-rsa AAAAB...Glj5kQ== username@management-hostname",
        "ipconfig": [
          {
            "interface": "net0",
            "ip": "172.16.10.70/24",
            "gateway": "172.16.10.1"
          }
        ]
      },
      "agent": 1,
      "depends_on": [
        "PF-01-RTR",
        "DC-01-SRV"
      ]
    },
    {
      "name": "WIN-01-WS",
      "vmid": 206,
      "target_node": "proxmox",
      "clone": "win11-template",
      "full_clone": true,
      "tags": [
        "Lab"
      ],
      "cpu": {
        "cores": 2,
        "sockets": 1,
        "type": "host"
      },
      "bios": "ovmf",
      "machine": "q35",
      "efi_storage": "Internal",
      "memory": 8192,
      "balloon": 4096,
      "scsihw": "virtio-scsi-single",
      "bootdisk": "scsi0",
      "disks": [
        {
          "slot": "scsi0",
          "size": "128G",
          "type": "disk",
          "storage": "Internal",
          "iothread": true,
          "discard": true,
          "cache": "writeback"
        },
        {
          "slot": "ide1",
          "type": "cloudinit",
          "storage": "Internal"
        }
      ],
      "networks": [
        {
          "id": 0,
          "model": "virtio",
          "bridge": "vmbr1",
          "firewall": true
        }
      ],
      "cloudinit": {
        "enabled": true,
        "nameserver": "172.16.10.100",
        "searchdomain": "yourdomain.com",
        "ipconfig": [
          {
            "interface": "net0",
            "ip": "172.16.10.50/24",
            "gateway": "172.16.10.1"
          }
        ]
      },
      "agent": 1,
      "depends_on": [
        "PF-01-RTR",
        "DC-01-SRV"
      ]
    }
  ]
}