---
# Ansible Vault - Encrypted Credentials
# This file contains sensitive credentials for the Domain Controller setup
# 
# To create this file:
#   ansible-vault create group_vars/dc_vault.yml
#
# To edit this file:
#   ansible-vault edit group_vars/dc_vault.yml
#
# To view this file:
#   ansible-vault view group_vars/dc_vault.yml

# Windows Administrator Credentials
win_username: Administrator
win_password: YourWindowsAdminPassword

# Directory Services Restore Mode Password
dsrm_password: YourDSRMPassword

# Domain User Passwords
dave_password: DavePassword123!
sophia_password: SophiaPassword123!
