---
- name: Debug Windows Wazuh Logs
  hosts: win-01-ws
  gather_facts: no
  vars:
    ansible_user: ".\\{{ win_username }}"
    ansible_password: "{{ win_password }}"
    ansible_connection: winrm
    ansible_winrm_transport: ntlm
    ansible_winrm_server_cert_validation: ignore
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  tasks:
    - name: Get ossec.conf Content
      win_shell: "Get-Content 'C:\\Program Files (x86)\\ossec-agent\\ossec.conf'"
      register: log_output
      ignore_errors: yes

    - name: Display Logs
      debug:
        var: log_output.stdout_lines
