---
- name: Initialize Wazuh Groups
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  vars:
    wazuh_manager_address: "{{ hostvars['XDR-01-SRV']['ansible_host'] }}"
    wazuh_api_port: 55000
    wazuh_api_proto: "https"
    wazuh_api_user: "wazuh"
    wazuh_api_validate_certs: false
    wazuh_groups_to_create:
      - "windows"
      - "windows-servers"
      - "windows-workstations"
      - "linux"
      - "linux-servers"
      - "linux-workstations"

  tasks:
    - name: Get Wazuh API token
      ansible.builtin.uri:
        url: "{{ wazuh_api_proto }}://{{ wazuh_manager_address }}:{{ wazuh_api_port }}/security/user/authenticate"
        method: POST
        user: "{{ wazuh_api_user }}"
        password: "{{ wazuh_api_password }}"
        force_basic_auth: yes
        status_code: [200]
        validate_certs: "{{ wazuh_api_validate_certs }}"
      register: api_token_response

    - name: Create Wazuh Agent Groups
      ansible.builtin.uri:
        url: "{{ wazuh_api_proto }}://{{ wazuh_manager_address }}:{{ wazuh_api_port }}/groups"
        method: POST
        headers:
          Authorization: "Bearer {{ api_token_response.json.data.token }}"
          Content-Type: "application/json"
        body_format: json
        body:
          group_id: "{{ item }}"
        status_code: [200, 422] # 422 matches "already exists"
        validate_certs: "{{ wazuh_api_validate_certs }}"
      loop: "{{ wazuh_groups_to_create }}"
      register: create_group_response
      failed_when: 
        - create_group_response.status != 200
        - "'already exists' not in create_group_response.json.message | default('')"
        - "'already exist' not in create_group_response.json.detail | default('')"
- name: Enroll Wazuh Agents (Linux)
  hosts: linux:!XDR-01-SRV
  gather_facts: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  vars:
    wazuh_manager_address: "{{ hostvars['XDR-01-SRV']['ansible_host'] }}"
  roles:
    - wazuh_agent_setup

- name: Enroll Wazuh Agents (Windows)
  hosts: windows:dc
  gather_facts: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  vars:
    wazuh_manager_address: "{{ hostvars['XDR-01-SRV']['ansible_host'] }}"
    ansible_user: "{{ win_username }}"
    ansible_password: "{{ win_password }}"
  roles:
    - wazuh_agent_setup