---
- name: Enroll Elastic Agents (Windows)
  hosts:
    - DC-01-SRV
    - WIN-01-WS
  gather_facts: yes
  vars:
    ansible_user: ".\\{{ win_username }}"
    ansible_password: "{{ win_password }}"
    ansible_connection: winrm
    ansible_winrm_transport: ntlm
    ansible_winrm_server_cert_validation: ignore
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  roles:
    - elastic_agent_setup

- name: Enroll Elastic Agents (Linux)
  hosts:
    - LIN-01-WS
    - XDR-01-SRV
    - SOC-01-SRV
  become: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  roles:
    - elastic_agent_setup
