---
- name: Initialize Wazuh Groups
  hosts: all
  gather_facts: no
  run_once: true
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  tasks:
    - name: Create Wazuh Groups via API
      include_role:
        name: wazuh_agent_setup
        tasks_from: api_groups

- name: Enroll Wazuh Agents (Linux)
  hosts: linux:!XDR-01-SRV
  gather_facts: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  vars:
    wazuh_manager_address: "{{ hostvars['XDR-01-SRV']['ansible_host'] }}"
  roles:
    - wazuh_agent_setup

- name: Enroll Wazuh Agents (Windows)
  hosts: windows:dc
  gather_facts: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  vars:
    wazuh_manager_address: "{{ hostvars['XDR-01-SRV']['ansible_host'] }}"
    ansible_user: "{{ win_username }}"
    ansible_password: "{{ win_password }}"
  roles:
    - wazuh_agent_setup