---
- name: Enroll Elastic Agents (Windows)
  hosts:
    - dc-01-srv
    - win-01-ws
  gather_facts: yes
  vars:
    ansible_user: ".\\{{ win_username }}"
    ansible_password: "{{ win_password }}"
    ansible_connection: winrm
    ansible_winrm_transport: ntlm
    ansible_winrm_server_cert_validation: ignore
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  roles:
    - elastic_agent_setup

- name: Enroll Elastic Agents (Linux)
  hosts:
    - lin-01-ws
    - xdr-01-srv
  become: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  roles:
    - elastic_agent_setup
