---
- name: Enroll Wazuh Agents (Linux)
  hosts: linux:!XDR-01-SRV
  gather_facts: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  vars:
    wazuh_manager_address: "{{ hostvars['XDR-01-SRV']['ansible_host'] }}"
  roles:
    - wazuh_agent_setup

- name: Enroll Wazuh Agents (Windows)
  hosts: windows
  gather_facts: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  vars:
    wazuh_manager_address: "{{ hostvars['XDR-01-SRV']['ansible_host'] }}"
    ansible_user: "{{ win_username }}"
    ansible_password: "{{ win_password }}"
  roles:
    - wazuh_agent_setup