---
- name: Initialize Wazuh Groups
  hosts: localhost
  connection: local
  gather_facts: no
  tags:
    - init_groups
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  vars:
    wazuh_manager_address: "{{ hostvars['XDR-01-SRV']['ansible_host'] }}"
    wazuh_api_port: 55000
    wazuh_api_proto: "https"
    wazuh_api_user: "wazuh"
    wazuh_api_validate_certs: false
    
    wazuh_agent_groups:
      - "windows-server"
      - "linux-server"
      - "linux-workstation"
      - "windows-workstation"

  tasks:
    - name: Get Wazuh API token
      ansible.builtin.uri:
        url: "{{ wazuh_api_proto }}://{{ wazuh_manager_address }}:{{ wazuh_api_port }}/security/user/authenticate"
        method: POST
        user: "{{ wazuh_api_user }}"
        password: "{{ wazuh_api_password }}"
        force_basic_auth: yes
        status_code: [200]
        validate_certs: "{{ wazuh_api_validate_certs }}"
      register: api_token_response


    - name: Set API token fact
      ansible.builtin.set_fact:
        wazuh_api_token: "{{ api_token_response.json.data.token }}"


    - name: Create Wazuh Agent Groups
      ansible.builtin.uri:
        url: "{{ wazuh_api_proto }}://{{ wazuh_manager_address }}:{{ wazuh_api_port }}/groups"
        method: POST
        headers:
          Authorization: "Bearer {{ wazuh_api_token }}"
          Content-Type: "application/json"
        body_format: json
        body:
          group_id: "{{ item }}"
        status_code: [200, 422] # 422 if already exists
        validate_certs: "{{ wazuh_api_validate_certs }}"
      loop: "{{ wazuh_agent_groups }}"
      register: create_group_response
      failed_when: 
        - create_group_response.status != 200
        # Check if error is "Resource already exists"
        - "'already exists' not in create_group_response.json.message | default('')"
        - "'already exist' not in create_group_response.json.detail | default('')"

- name: Install Wazuh Agent on Linux Hosts
  hosts: linux:!XDR-01-SRV
  become: yes
  gather_facts: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  pre_tasks:
    - name: Verify wazuh_api_password is defined for enrollment
      ansible.builtin.assert:
        that: wazuh_api_password is defined
        fail_msg: "The variable 'wazuh_api_password' is not defined. Please ensure it is defined in secret_vault.yml."
        quiet: true
      when: wazuh_api_password is not defined

    - name: Set target groups for Linux Servers
      ansible.builtin.set_fact:
        wazuh_target_groups: "default,linux-server"
      when: "'linux-server' in group_names or inventory_hostname in ['FLEET-01-SRV', 'SIEM-01-SRV']"

    - name: Set target groups for Linux Workstations
      ansible.builtin.set_fact:
        wazuh_target_groups: "default,linux-workstation"
      when: "'linux-workstation' in group_names or inventory_hostname in ['LIN-01-WS']"
  roles:
    - wazuh_agent_setup
  tags:
    - linux

- name: Install Wazuh Agent on Windows Hosts
  hosts: windows:dc
  gather_facts: yes
  vars:
    ansible_user: ".\\{{ win_username }}"
    ansible_password: "{{ win_password }}"
    ansible_connection: winrm
    ansible_winrm_transport: ntlm
    ansible_winrm_server_cert_validation: ignore
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  pre_tasks:
    - name: Verify wazuh_api_password is defined for enrollment
      ansible.builtin.assert:
        that: wazuh_api_password is defined
        fail_msg: "The variable 'wazuh_api_password' is not defined. Please ensure it is defined in secret_vault.yml."
        quiet: true
      when: wazuh_api_password is not defined

    - name: Set target groups for Windows Servers
      ansible.builtin.set_fact:
        wazuh_target_groups: "default,windows-server"
      when: "'windows-server' in group_names or inventory_hostname in ['DC-01-SRV']"

    - name: Set target groups for Windows Workstations
      ansible.builtin.set_fact:
        wazuh_target_groups: "default,windows-workstation"
      when: "'windows-workstation' in group_names or inventory_hostname in ['WIN-01-WS']"
  roles:
    - wazuh_agent_setup
  tags:
    - windows
