---
- name: Join Linux hosts to domain
  hosts: linux
  become: true
  vars_files:
    - ../inventory/group_vars/all.yml
    - ../inventory/group_vars/linux.yml
    - ../inventory/group_vars/secret_vault.yml
  roles:
    - ../roles/linux_join_domain

- name: Join Windows hosts to domain
  hosts: windows
  vars:
    ansible_user: "{{ win_username }}"
    ansible_password: "{{ win_password }}"
  vars_files:
    - ../inventory/group_vars/all.yml
    - ../inventory/group_vars/windows.yml
    - ../inventory/group_vars/secret_vault.yml
  roles:
    - ../roles/win_join_domain

- name: Ensure AD computer objects are in correct OUs
  hosts: dc
  gather_facts: no
  tags: ['ou', 'move_computers']

  vars:
    ansible_user: "{{ win_username }}"
    ansible_password: "{{ win_password }}"

  vars_files:
    - ../inventory/group_vars/dc.yml
    - ../inventory/group_vars/secret_vault.yml

  tasks:
    - name: Ensure WIN-01-WS is in Windows Workstations OU
      microsoft.ad.computer:
        identity: "WIN-01-WS$"
        path: "OU=Windows Workstations,OU=Workstations,DC=frostsec,DC=corp"
        state: present

    - name: Ensure LIN-01-WS is in Linux Workstations OU
      microsoft.ad.computer:
        identity: "LIN-01-WS$"
        path: "OU=Linux Workstations,OU=Workstations,DC=frostsec,DC=corp"
        state: present

    - name: Ensure SIEM-01-SRV is in Linux Servers OU
      microsoft.ad.computer:
        identity: "SIEM-01-SRV$"
        path: "OU=Linux Servers,OU=Servers,DC=frostsec,DC=corp"
        state: present

    - name: Ensure FLEET-01-SRV is in Linux Servers OU
      microsoft.ad.computer:
        identity: "FLEET-01-SRV$"
        path: "OU=Linux Servers,OU=Servers,DC=frostsec,DC=corp"
        state: present

    - name: Ensure XDR-01-SRV is in Linux Servers OU
      microsoft.ad.computer:
        identity: "XDR-01-SRV$"
        path: "OU=Linux Servers,OU=Servers,DC=frostsec,DC=corp"
        state: present
