---
- name: Setup Wazuh Server
  hosts: XDR-01-SRV
  become: yes
  gather_facts: yes

  vars_files:
    # Attempt to load secrets if available. 
    # User must ensure this file exists and contains 'wazuh_admin_password'
    - ../inventory/group_vars/secret_vault.yml

  pre_tasks:
    - name: Verify wazuh_admin_password is defined
      ansible.builtin.assert:
        that: wazuh_admin_password is defined
        fail_msg: "The variable 'wazuh_admin_password' is not defined. Please ensure it is defined in valid vault file."

    - name: Verify wazuh_api_password is defined
      ansible.builtin.assert:
        that: wazuh_api_password is defined
        fail_msg: "The variable 'wazuh_api_password' is not defined. Please ensure it is defined in valid vault file."

  roles:
    - wazuh_server_setup
