---
- name: Deploy ELK Stack on SIEM Server
  hosts: SIEM-01-SRV
  become: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  roles:
    - elk_setup
  tags:
    - elk

- name: Setup Fleet Server on FLEET-01-SRV
  hosts: FLEET-01-SRV
  become: yes
  vars_files:
    - ../inventory/group_vars/secret_vault.yml
  roles:
    - fleet_setup
  tags:
    - fleet

    
- name: Reboot Servers after Deployment
  hosts:
    - SIEM-01-SRV
    - FLEET-01-SRV
  become: yes
  tags:
    - reboot
    - elk
    - fleet
  tasks:
    - name: Notify Rebooting
      debug:
        msg: "Rebooting {{ inventory_hostname }} now..."

    - name: Reboot hosts
      reboot:
        reboot_timeout: 300
