---
- name: Fetch Existing Enrollment Tokens
  uri:
    url: "{{ kibana_url }}/api/fleet/enrollment_api_keys"
    method: GET
    user: elastic
    password: "{{ elastic_custom_password }}"
    force_basic_auth: yes
    headers:
      kbn-xsrf: "true"
  delegate_to: localhost
  run_once: true
  vars:
    ansible_connection: local
  register: existing_tokens_response

- name: Delete Existing Token for Host (if exists)
  uri:
    url: "{{ kibana_url }}/api/fleet/enrollment_api_keys/{{ item.id }}"
    method: DELETE
    user: elastic
    password: "{{ elastic_custom_password }}"
    force_basic_auth: yes
    headers:
      kbn-xsrf: "true"
    status_code: [200, 404]
  loop: "{{ existing_tokens_response.json.items | default([]) }}"
  when: item.name in host_policy_mapping.keys()
  delegate_to: localhost
  run_once: true
  vars:
    ansible_connection: local
  loop_control:
    label: "{{ item.name }}"

- name: Create Enrollment Tokens
  uri:
    url: "{{ kibana_url }}/api/fleet/enrollment_api_keys"
    method: POST
    user: elastic
    password: "{{ elastic_custom_password }}"
    force_basic_auth: yes
    headers:
      kbn-xsrf: "true"
      Content-Type: "application/json"
    body_format: json
    body:
      name: "{{ item.key }}"
      policy_id: "{{ policy_name_to_id[item.value] }}"
    status_code: [200]
  loop: "{{ host_policy_mapping | dict2items }}"
  delegate_to: localhost
  run_once: true
  vars:
    ansible_connection: local
  register: token_creation_response
  # no_log: true

- name: Map Hostnames to Enrollment Tokens
  set_fact:
    host_enrollment_tokens: "{{ host_enrollment_tokens | default({}) | combine({item.item.key: item.json.item.api_key}) }}"
  loop: "{{ token_creation_response.results }}"
  # no_log: true
  delegate_to: localhost
  run_once: true
  vars:
    ansible_connection: local
