---
- name: Create Agent Policies
  uri:
    url: "{{ kibana_url }}/api/fleet/agent_policies?sys_monitoring=true"
    method: POST
    user: elastic
    password: "{{ elastic_custom_password }}"
    force_basic_auth: yes
    headers:
      kbn-xsrf: "true"
      Content-Type: "application/json"
    body_format: json
    body:
      name: "{{ item.name }}"
      description: "{{ item.description }}"
      namespace: "default"
      monitoring_enabled: "{{ item.monitoring_enabled }}"
      inactivity_timeout: 1209600
      is_protected: false
    status_code: [200, 409]
  loop: "{{ agent_policies }}"
  delegate_to: localhost
  run_once: true
  vars:
    ansible_connection: local
  become: false
  register: policy_creation_response

- name: Get All Agent Policies to retrieve IDs
  uri:
    url: "{{ kibana_url }}/api/fleet/agent_policies"
    method: GET
    user: elastic
    password: "{{ elastic_custom_password }}"
    force_basic_auth: yes
    headers:
      kbn-xsrf: "true"
  delegate_to: localhost
  run_once: true
  vars:
    ansible_connection: local
  become: false
  register: all_policies_response

- name: Map Policy Names to IDs
  set_fact:
    policy_name_to_id: "{{ policy_name_to_id | default({}) | combine({item.name: item.id}) }}"
  loop: "{{ all_policies_response.json['items'] }}"
  no_log: true
  delegate_to: localhost
  run_once: true
  vars:
    ansible_connection: local
  become: false
