---
- name: Download Elastic Agent (Linux)
  get_url:
    url: https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-agent-9.2.2-amd64.deb
    dest: /tmp/elastic-agent-9.2.2-amd64.deb

- name: Install Elastic Agent (Linux)
  apt:
    deb: /tmp/elastic-agent-9.2.2-amd64.deb
    state: present

- name: Enable and Start Elastic Agent Service
  systemd:
    name: elastic-agent
    enabled: yes
    state: started

- name: Enroll Elastic Agent (Linux)
  shell: |
    elastic-agent enroll \
      --url={{ fleet_server_url }} \
      --enrollment-token={{ hostvars['localhost']['host_enrollment_tokens'][inventory_hostname] }} \
      --insecure \
      --force
  register: enroll_result
  failed_when: enroll_result.rc != 0 and "already enrolled" not in enroll_result.stderr
