---
- name: Wait for Kibana API to be Ready
  uri:
    url: "{{ kibana_url }}/api/status"
    method: GET
    user: elastic
    password: "{{ elastic_custom_password }}"
    force_basic_auth: yes
    status_code: 200
  register: kibana_status
  until: kibana_status.status == 200
  retries: 60
  delay: 10
  delegate_to: localhost
  run_once: true
  vars:
    ansible_connection: local
  become: false
- name: Include Policy Creation Tasks
  include_tasks: create_policies.yml
  run_once: true

- name: Include Token Creation Tasks
  include_tasks: create_tokens.yml
  run_once: true

- name: Install and Enroll on Linux
  include_tasks: linux_enroll.yml
  when: ansible_system == 'Linux'

- name: Install and Enroll on Windows
  include_tasks: windows_enroll.yml
  when: ansible_os_family == 'Windows'
