---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install dependencies
  apt:
    name:
      - wget
      - curl
      - gnupg
      - coreutils
      - apt-transport-https
      - git
      - ca-certificates
      - ca-certificates-java
      - software-properties-common
      - python3-pip
      - lsb-release
      - unzip
    state: present

- name: Add Amazon Corretto GPG key
  shell: |
    wget -qO- https://apt.corretto.aws/corretto.key | gpg --dearmor -o /usr/share/keyrings/corretto.gpg
  args:
    creates: /usr/share/keyrings/corretto.gpg

- name: Add Amazon Corretto repository
  copy:
    dest: /etc/apt/sources.list.d/corretto.sources.list
    content: |
      deb [signed-by=/usr/share/keyrings/corretto.gpg] https://apt.corretto.aws stable main

- name: Update apt cache after adding repo
  apt:
    update_cache: yes

- name: Install Java 11 Amazon Corretto
  apt:
    name: java-11-amazon-corretto-jdk
    state: present

- name: Set JAVA_HOME in /etc/environment
  lineinfile:
    path: /etc/environment
    regexp: '^JAVA_HOME='
    line: 'JAVA_HOME="/usr/lib/jvm/java-11-amazon-corretto"'

- name: Force reload of environment variables (for current session only, mostly symbolic in non-interactive shell)
  shell: export JAVA_HOME="/usr/lib/jvm/java-11-amazon-corretto"

- name: Verify Java version
  command: java -version
  register: java_version
  changed_when: false
