---
- name: Check if Elasticsearch is installed
  command: dpkg-query -W -f='${Status}' elasticsearch
  register: elastic_check
  failed_when: false
  changed_when: false
  become: yes

- name: Install Elasticsearch
  shell: apt-get install elasticsearch -y
  register: elastic_install_output
  become: yes
  when: elastic_check.stdout.find('install ok installed') == -1

- name: Configure Elasticsearch Heap Size
  copy:
    content: |
      -Xms4g
      -Xmx4g
    dest: /etc/elasticsearch/jvm.options.d/heap.options
    mode: '0644'
  become: yes
  notify: Restart Elasticsearch

- name: Start and Enable Elasticsearch
  systemd:
    name: elasticsearch
    state: started
    enabled: yes
  become: yes

- name: Wait for Elasticsearch to start
  wait_for:
    port: 9200
    delay: 10
    timeout: 60

- name: Check if Custom Password Works
  uri:
    url: "https://localhost:9200/_security/_authenticate"
    user: elastic
    password: "{{ elastic_custom_password }}"
    validate_certs: no
    force_basic_auth: yes
    status_code: [200, 401]
  register: auth_check
  failed_when: false
  changed_when: false
  when: elastic_custom_password | length > 0

- name: Set Custom Elastic Password
  shell: |
    printf "y\n{{ elastic_custom_password }}\n{{ elastic_custom_password }}\n" | /usr/share/elasticsearch/bin/elasticsearch-reset-password -u elastic -i
  become: yes
  when: 
    - elastic_custom_password | length > 0
    - auth_check.status != 200
