---
- name: Ensure generated credentials directory exists
  local_action:
    module: file
    path: "{{ playbook_dir }}/../files/generated_creds"
    state: directory
    mode: '0700'
  become: no
  run_once: true

- name: Fetch Elasticsearch CA Certificate
  fetch:
    src: /etc/elasticsearch/certs/http_ca.crt
    dest: "{{ playbook_dir }}/../files/generated_creds/http_ca.crt"
    flat: yes
  become: yes
