---
- name: Configure HOME_NET
  ansible.builtin.lineinfile:
    path: /etc/suricata/suricata.yaml
    regexp: '^\s*HOME_NET:'
    line: '    HOME_NET: "{{ suricata_home_net }}"'

- name: Configure EXTERNAL_NET
  ansible.builtin.lineinfile:
    path: /etc/suricata/suricata.yaml
    regexp: '^\s*EXTERNAL_NET:'
    line: '    EXTERNAL_NET: "{{ suricata_external_net }}"'

- name: Enable stats
  ansible.builtin.replace:
    path: /etc/suricata/suricata.yaml
    regexp: '(# Global stats configuration\n\s*stats:\n\s*)enabled: no'
    replace: '\1enabled: yes'

- name: Configure default-rule-path
  ansible.builtin.lineinfile:
    path: /etc/suricata/suricata.yaml
    regexp: '^default-rule-path:'
    line: 'default-rule-path: /etc/suricata/rules'

- name: Configure rule-files
  ansible.builtin.blockinfile:
    path: /etc/suricata/suricata.yaml
    regexp: '^rule-files:'
    block: |
      rule-files:
        - "*.rules"

