---
- name: Download Emerging Threats rules
  ansible.builtin.command: curl -LO https://rules.emergingthreats.net/open/suricata-6.0.8/emerging.rules.tar.gz
  args:
    chdir: /tmp/
    creates: /tmp/emerging.rules.tar.gz

- name: Extract rules
  ansible.builtin.command: tar -xvzf emerging.rules.tar.gz
  args:
    chdir: /tmp/

- name: Create rules directory
  ansible.builtin.file:
    path: /etc/suricata/rules
    state: directory
    mode: '0755'

- name: Move rules to /etc/suricata/rules
  ansible.builtin.shell: mv /tmp/rules/*.rules /etc/suricata/rules/

- name: Set permissions for rules (chmod 777 as requested)
  ansible.builtin.shell: chmod 777 /etc/suricata/rules/*.rules
