---
- name: Update Suricata rules
  ansible.builtin.command: suricata-update
  # This command updates the rules and saves them to /var/lib/suricata/rules/suricata.rules by default.

- name: Fix permissions for Suricata rules
  ansible.builtin.file:
    path: /var/lib/suricata/rules
    owner: suricata
    group: suricata
    recurse: yes

- name: Reload Suricata rules
  ansible.builtin.command: suricatasc -c reload-rules
  ignore_errors: yes
  # Optional: reload rules without restarting if suricata is running.
  # But we have a handler for restart in configure.yml usually.

