---
- name: Update Suricata rules
  ansible.builtin.command: suricata-update
  # This command updates the rules and saves them to /var/lib/suricata/rules/suricata.rules by default.
  # This matches the new configuration in configure.yml.

- name: Restart Suricata to load new rules
  ansible.builtin.service:
    name: suricata
    state: restarted
